body{
    margin:0
}
/*logo模块*/
.logo{
    text-align: center;
    background: white;
}
.logo > img{
    width: 73px;
    height: 73px;
    border-radius: 50%;
    margin-top: 61px;
    vertical-align: bottom;
}
.logo > .slogan{
    margin-top: 43px;
    list-style: none;
    margin-bottom: 18px;
    padding: 0;
}
.logo > .slogan > li{
    display: inline-block;
    background:#D8D8D8;
    min-width: 128px;
    margin: 16px;
    padding:1px 0;
}

/*banner模块*/
.banner{
    padding-bottom: 51px;
    padding-top:37px;
    background:#EFEFEF;
    text-align: center;
}
.banner > h2{
    display:inline-block;
    background:#D8D8D8;
    min-width: 200px;
    margin-top: 19px;
    margin-bottom: 0;
    border-radius: 14px;
    line-height:42px;
}

.banner .banner_one{display:none;}

.banner > .class1{
    margin-top:46px;
}
.banner p{
    margin-left: auto;
    margin-right: auto;
    margin-top:19px;
    margin-bottom: 0px;
    background:#E8E7E7;
    max-width: 250px;
    border-radius: 14px;
    line-height: 24px;
}

@media(min-width:580px){
    .banner > h2{display:none;}
    .banner .banner_one{display:inline-block;width: 376px;}
    .banner p{max-width: 536px;}
    .products >ol{   
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products >ol >li{
        width:50%;
    }
}

@media(min-width:960px){
    .banner > h2{display:none;}
    .banner .banner_one{display:inline-block;width: 376px;}
    .banner p{max-width: 536px;}
    .products >ol{   
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products >ol >li{
        width:33.33333%;
    }
}

@media(min-width:1200px){
    .banner > h2{display:none;}
    .banner .banner_one{display:inline-block;width: 376px;}
    .banner p{max-width: 536px;}
    .products >ol{   
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 120px;
        margin-right: 120px;}
}


/*products模块*/
.products{
    background:white;
    margin-top: 42px;

}
.products > ol{
    list-style:none;
    padding-left:0;
}

.products > ol > li{}
.products .product{
    margin:0 16px;
}
.products .product > img{
    width: 100%;
    border-radius: 4px;
    vertical-align: bottom;

}
.products .product > h3{

    margin-top:20px;
    margin-bottom: 0;
    background:#BCBCBC;
    max-width: 204px;
    border-radius: 4px;
    line-height: 24px;

}
.products .product > p{
    margin-top:14px;
    margin-bottom: 32px;
    background: #ECECEC;
    min-width: 288px;
    border-radius: 4px;
    line-height: 16px;
}
